<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inventario</title>
</head>
<body>

    <h1>
        {{ inventory.get_inventory_type_display }}
    </h1>

    <h2>
        {{ inventory.property.name }}
    </h2>

    <p>
        Propiedad #{{ inventory.property.property_number }}
    </p>

    <hr>

    <form method="post">

        {% csrf_token %}

        {% for section in sections %}

            <section>

                <h3>
                    {{ section.name }}
                </h3>

                <a href="{% url 'inventory_item_create' section.id %}">
                    + Agregar característica
                </a>

                {% for item in section.items.all %}

                    <div>

                        <label for="description_{{ item.id }}">
                            <strong>
                                {{ item.name }}
                            </strong>
                        </label>

                        <br>

                        <textarea
                            id="description_{{ item.id }}"
                            name="description_{{ item.id }}"
                            rows="3"
                            cols="60"
                            placeholder="Descripción u observación..."
                        >{{ item.description }}</textarea>
                        <br>
                        <div>
                            <strong>Fotos:</strong>

                            {% for photo in item.photos.all %}
                                <div>
                                    <img
                                        src="{{ photo.secure_url }}"
                                        alt="Foto de {{ item.name }}"
                                        width="200"
                                    >

                                    <br>

                                    <a href="{% url 'inventory_item_photo_delete' photo.id %}">
                                        Eliminar foto
                                    </a>
                                </div>
                            {% empty %}
                                <p>No hay fotos.</p>
                            {% endfor %}
                            </div>

                        <a href="{% url 'inventory_item_update' item.id %}">
                            Editar
                        </a>
                        <a href="{% url 'inventory_item_delete' item.id %}">
                            Eliminar
                        </a>

                        <a href="{% url 'inventory_item_photo_create' item.id %}">
                          + Agregar foto
                        </a>

                    </div>

                    <br>

                {% endfor %}

            </section>

            <hr>

        {% endfor %}


        {% if not inventory.signature %}

            <a href="{% url 'inventory_signature_create' inventory.id %}">
                Firmar inventario
            </a>

        {% else %}

            <h2>Firma del cliente</h2>

            <p>
                Inventario firmado por:
                <strong>{{ inventory.signature.name }}</strong>
            </p>

            <p>
                Fecha:
                {{ inventory.signature.signed_at|date:"d/m/Y H:i" }}
            </p>

            <div>
                <img
                    src="{{ inventory.signature.secure_url }}"
                    alt="Firma de {{ inventory.signature.name }}"
                    width="400"
                >
            </div>

        {% endif %}

        <button type="submit">
            Guardar cambios
        </button>
            

    </form>

</body>
</html>