{% extends "base.html" %}

{% block title %}
    Propiedades
{% endblock %}

{% block content %}

    <h1>Propiedades</h1>

    <a href="{% url 'property_create' %}">
        Crear propiedad
    </a>

    <hr>

    {% for property in properties %}
        <div>
            <h2>
                <a href="{% url 'property_detail' property.id %}">
                    {{ property.name }}
                </a>
            </h2>

            <p>
                <strong>Dirección:</strong>
                {{ property.address }}
            </p>

            <p>
                <strong>Inmueble:</strong>
                {{ property.property_number }}
            </p>

            <p>
                <strong>Arrendatario:</strong>
                {{ property.tenant_name }}
            </p>
        </div>

        <hr>

    {% empty %}
        <p>No hay propiedades registradas.</p>
    {% endfor %}

{% endblock %}